<div>
  <h3 class="text-xl font-medium mb-1">Posts created by you</h3>
  <p *ngIf="!posts">
    Loading posts ...
  </p>
  <p *ngIf="posts && posts.length === 0">
    No posts exist so far.
  </p>
  <div *ngIf="posts && posts.length > 0">
    <ul *ngFor="let post of posts" class="max-w-md divide-y divide-slate-200">
      <li class="flex flex-row items-center justify-between">
        <p class="text-lg py-2">{{post.text}}</p>
        <button (click)="deletePost(post.id)" class="sm:whitespace-nowrap inline-flex items-center gap-2 px-4 py-2 rounded-md text-sm duration-100 select-none bg-slate-100 text-slate-900 hover:bg-slate-200 active:bg-slate-100">Delete</button>
      </li>
    </ul>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="mt-5">
    <p class="text-xl font-medium mb-1">Add a post:</p>
    <div class="form-group">
      <textarea class="form-control" formControlName="text" rows="4" class="block p-2.5 w-full max-w-md text-sm rounded-lg border border-slate-200 mb-2" placeholder="Your post ..."></textarea>
    </div>
    <button type="submit" class="sm:whitespace-nowrap inline-flex items-center gap-2 px-4 py-2 rounded-md text-sm duration-100 select-none bg-primary text-white hover:bg-primary-hover active:bg-primary-active" [disabled]="!form.valid">Submit</button> 
  </form>
</div>
